# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build outputs
dist/
build/
.next/
out/

# Environment files
*.env
.kutt.env


# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
*.pid
*.log
.env
